.button_promo {
    font-family: 'Open Sans';
    width: 160px;
    height: 51px;
    border: 2px solid #FFFFFF;
    background-color: rgba(28,28,28,0);
    margin-top: 40px;
    margin-left: 100px;

    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}